[
	{"key": "pychache"
	 "name": "__pycache__"
	},
	{"key": "idea"
	 "name": ".idea/"
	},
	{"key":"twitter_key.json"
	 "name":"functions/config/twitter_key.json"
	},
	{"key":"BigQuery.json"
	 "name":"functions/config/BigQuery.json"
	},
	{"key":"DS_Store"
	 "name":"../../.DS_Store"
	},
	{"key":"DS_Store"
	 "name":".././.DS_Store"
	},
	{"key":"DS_Store"
	 "name":".DS_Store"
	}
]